/*footer*/
footer{
    text-align:center;
    position: absolute;
    bottom: 0;
  }
  footer h4{
    padding-top:10px;
    font-size:1.5em;
    color:white;
    text-shadow:1px 1px 1px grey;
  }
  footer p{ 
    margin-top:10px; 
    color:white;
    padding-top:10px;
    padding-bottom:10px;
    text-transform:uppercase;  
    background-color:black;
  }
  /*footer*/