/*header*/
header{ 
    padding:30px;  
    background-color: cornflowerblue;
    max-width:100%;
    max-height: 90%;
    filter:grayscale( 0% );  
    background-position: center center; 
  }
  #left{
    display:inline-block;
    width:50%;   
    margin-left:50px;
    vertical-align:middle;    
    color:white;  
  } 
  #left h2{
    font-size:2.5em;
    text-shadow:1px 1px 2px grey;
  }
  header img{  
    vertical-align:middle;
    
    margin-left:10%;
    width:25%;
  }
  .homeicon{
      margin-top: 15;
  }
  .homeicon img{
      display: inline;
  }
  /*header*/
  